@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$family-primary:'Lato', sans-serif;
$footer-background-color:#342E37;
$footer-padding:3rem 1.5rem;

@import 'bulma/bulma';
@import '_layout';

