%nav{class: "level"}
  .level-left
    .level-item
      Blue Pill
  .level-right
    %p{class: "level-item"}
      / = link_to("Manage Users", users_path, class: "button is-dark is-outlined")
    %p.level-item
      %a.button
        %span{class: "icon"}
          %i{class: "fab fa-github"}
        %span GitHub
